body {
    
    height: 100%;
    
}

/* container that card are in */
.flexContainer{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     
}

/* the card itself */
.cardCSS{
    
    flex: 0 0 30%;


    border-radius: 2px;
    margin: 2px;

    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

/* header inside he cardCSS */
header{
    color: rgb(154,154,154);
    background-color: rgb(238,238,238);
    border: 1px solid rgb(102, 75, 75);
    border-radius: 2px;
    text-align: center;
}

/*cardcontent div inside the cardcss*/
.cardCSS .cardContent {
    
    flex: 1 1 auto;
}

.cardContent {
    border: 1px solid rgb(238,238,238);
}

/* .cardText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    

} */

 p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    
    

}

/* div around the image */
 .imgDiv {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px;
 }

 /* image inside the div */
 .imgDiv img {
     width: 150px;
     height: 150px;
     border-radius: 5px;
 }

 /* footer inside cardCSS but outside csrdContent */
footer {
    
    background-color: rgb(238,238,238);
    border: 1px solid rgb(238,238,238);
    border-radius: 2px;
    text-align: center;
    /* margin-top: 0; */

}





.catCard {
    color: rgb(25,101,192);
    border: 1px solid rgb(188,232,241);
    background-color: rgb(218,237,247);
}

.dinoCard {
    border: 1px solid rgb(252,243,226);
    background-color: rgb(253,248,227);
    color: rgb(255,190,97);
   
}

.dogCard {
    
    border: 1px solid rgb(215,233,198);
    background-color: rgb(223,240,216);
    color: rgb(64,146,67);
}